* {
  padding: 0px;
  margin: 0px;
}
/*  */
/* #container {
  margin: 50px;
} */

/*  */
button {
  margin-top: 4px;
  padding: 6px;
  background-color: green;
  color: white;
  border-radius: 2px;
  border-style: none;
  margin-left: 15px;
}
input {
  min-width: 250px;
  border: 1px solid green;
  padding: 8px;
  margin: 10px;
}

/*  */

ul {
  margin-top: 20px;
  list-style: none;
  margin-left: 5px;
  padding-left: 10px;
}

li {
  margin-top: 5px;
}

a {
  color: #5f9341;
}
